:root {
    --btn-text: #542ec3;
    --general-text: #cfbac8;
    --theme: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu VIC WA NT Beginner', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--theme);
    font-size: 62.5%;
    overflow-x: hidden;
    background-image: url("./pictures/undraw_security_re_a2rk.svg"),
    url("./pictures/undraw_reminders_re_gtyb.svg"),
    url("./pictures/undraw_nakamoto_-2-iv6.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, 25%, 25%;
    background-position: 0% 30%, 100% 10%, 90% 100%;

}


main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    padding: 3rem;
    background: var(--theme);
    text-align: center;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.3);
    max-width: 55rem;
}

main h2 {
    color: var(--general-text);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.4rem;
    font-size: 2.3rem;
    margin: 1rem;
}

main article {
    text-align: left;
    margin: 2rem;
    width: 35rem;
    position: relative;
}

main article .inputBox {
    margin-top: 2rem;
}


main article .inputBox .input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: var(--theme);
    color: white;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.9)
}



main article .inputBox .textarea {
    padding: .6rem 1rem;
    height: 7rem;
}

.copyShare {
    display: flex;
    justify-content: space-around;
}

.copyShare * {
    width: 5rem;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}

#redact-btn {
    padding: 1rem 2rem;
    font-size: .9rem;
}

.btn {
    margin: .5rem;
    padding: .5rem 1rem;
    outline: none;
    cursor: pointer;
    transition: all .2s;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: .8rem;
    color: var(--btn-text);
    background: var(--theme);
}

.btn:hover {
    transform: translateY(-.2rem);
}

.btn:active,
.pinned {
    box-shadow: -0.05rem -0.05rem .2rem rgba(255, 255, 255, 0.1), 0.05rem 0.05rem .6rem rgba(10, 50, 10, 0.3);
    border: none;
    outline: none;
    transform: translateY(0rem);
}

.pinned {
    cursor: not-allowed;
    pointer-events: none;
}

#main-texts::selection,
body *::selection {
    background-color: var(--general-text);
    color: var(--theme);
}

main article .inputBox .input::placeholder {
    color: var(--btn-text);
    opacity: 50%;
}

/* STATS */

aside {
    margin: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside h3 {
    color: var(--general-text);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    display: block;
    border-bottom: .2rem double var(--general-text);
    width: 25rem;
    padding: .7rem;
}

.statRec {
    margin: 1rem;
    width: 30rem;
}

.statRec>div {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statRec div>span {
    display: inline-block;
    padding: 0rem 1rem;
    color: var(--general-text);
}

.statVal {
    display: inline-block;
    width: 5rem;
    padding: 15rem;
    position: relative;
}

.timed {
    position: relative;
    top: 0;
    left: .8rem;
}

footer {
    color: var(--btn-text);
    font-size: .8rem;
}

label>span {
    font-size: .8rem;
}


/* TABLETS */

@media (max-width: 768px) {

    body {
        padding: 0;
        background-image: url("./pictures/undraw_security_re_a2rk.svg"),
        url("./pictures/undraw_reminders_re_gtyb.svg"),
        url("./pictures/undraw_nakamoto_-2-iv6.svg");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 50%, 50%, 50%;
        background-position: 0% 40%, 100% 2%, 100% 90%;
    }

    main {
        width: 100vw;
        font-size: 1rem;
        padding: 2rem 0;
        overflow-x: hidden;
        border-radius: 0;
        justify-content:center;
    }

    main article {
        width: 30rem;
    }

    #redact-btn {
        padding: 1rem 2rem;
        font-size: .9rem;
    }

    #return-btn,
    #clear-btn {
        padding: 0 1.8rem;
    }

    aside h3 {
        border-bottom: .1rem double var(--general-text);
        width: 25rem;
        padding: .5rem;
    }

    .statRec {
        width: 25rem;
    }

}

/* MOBILE DEVICES */

@media (max-width: 480px) {

    html {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
        margin: 0;
        font-size: 60%;
    }

    main {
        max-width: 50rem;
        width: 100vw;
        font-size: 1rem;
        padding: 1rem;
        overflow: hidden;
        margin: 0;

    }

    main article {
        margin: .5rem;
        max-width: 100%;

    }

    main article .inputBox label {
        display: block;
        color: var(--general-text);
        margin-bottom: .5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    .btns {
        display: flex;
        justify-content: space-between;
        height: 4rem;
    }

    .btn {
        transition: all .1s;
        padding: .4rem;
        white-space: nowrap;
        font-size: .7rem;
        font-weight: 400;
        box-shadow: -0.15rem -0.15rem .4rem rgba(255, 255, 255, 0.1), 0.15rem 0.15rem 1rem rgba(10, 50, 10, 0.3);
    }

    .btn:hover {
        transform: translate(0);
    }

    .btn:active,
    .pinned {
        transform: scale(.98) translate(0);
    }

    .quest {
        padding: .3rem .8rem;
        font-size: 1rem;
    }

    .quest:active {
        transform: scale(.98) translate(0);
    }

    main article .inputBox .input::placeholder {
        font-size: 1rem;
    }

    aside h3 {
        font-weight: 600;
        font-size: 1.4rem;
        border-bottom: .1rem double var(--general-text);
        width: 15rem;
        padding: .5rem;
    }

    .statRec {
        margin: .5rem;
        width: 21rem;
        font-size: .9rem;
    }

    #redact-btn {
        padding: .5rem 1rem;
        font-size: .9rem;
    }

    #return-btn,
    #clear-btn {
        padding: 0 .7rem;
    }

}